* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(29, 28, 28);
  font-size: 20px;
}

.jumbotron {
  height: 600px;
  background-color: rgb(29, 28, 28);
  box-shadow: none;
  padding-bottom: 50px;
}

.h1-name {
  padding-bottom: 10px;
}

h1,
p {
  color: #fff;
}

.h2-skills {
  padding-top: 5px;
}

/*=======================
          nav    
  =======================*/

nav {
  background-color: rgb(29, 28, 28);
  color: white;
  border: none;
  box-shadow: none;
}

.navbar {
  box-shadow: none;
}

/*=======================
          cards     
  =======================*/

.card a {
  background-color: #9728ff;
}

.card a:hover {
  background-color: #7920cc;
}

navbar-toggler {
  background-color: red;
}

.card-body {
  background-image: url("..img/brenn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-overlay {
  opacity: 0;
  transition: 0.5s ease;
  margin-top: auto;
  text-align: center;
}

.card:hover .card-img {
  opacity: 0.3;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

a:hover {
  color: #fff;
}

.hideme {
  opacity: 0;
}

.introduction-text {
  padding-top: 20px;
}

.skills {
  padding-top: 20px;
}

footer {
  background-color: rgb(29, 28, 28);
}

/*=======================
      svg icons      
  =======================*/

.li-ic i {
  padding-right: 20px;
}
.tw-ic i {
  padding-right: 20px;
}
.fb-ic i {
  padding-right: 20px;
}

/*=======================
      contact anchor + modal     
  =======================*/
.contact {
  background-color: rgb(29, 28, 28);
  border-color: #9728ff;
  border-width: 10px;
  border: 2px solid #9728ff;
}

.contact:hover {
  background-color: #9728ff;
  border-color: #9728ff;
}

#contactLink,
#contactLink2 {
  color: #9728ff;
}

#contactLink:hover,
#contactLink2:hover {
  color: #fff;
}

.modal-footer button {
  background-color: #9728ff;
}

.modal-footer button {
  background: #9728ff;
}

.modal-footer button:hover {
  background-color: #7920cc;
}

.md-form:focus {
  border-bottom-color: red;
}

/*=======================
      opacity effect on h1      
  =======================*/

.hidden {
  opacity: 0;
  transition: opacity 1s 1s ease-in;
}

.unhide {
  opacity: 1;
}

#messageSent {
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #9728ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9728ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*=======================
      992 MEDIA QUERY        
  =======================*/

@media screen and (min-width: 992px) {
  .jumbotron {
    height: 550px;
  }

  .introduction-text {
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
  }
}

/*=======================
      768 MEDIA QUERY        
  =======================*/

@media screen and (min-width: 768px) {
  .jumbotron {
    height: 600px;
  }

  .introduction-text {
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
  }
}

/*=======================
      BELOW 768 MEDIA QUERY        
  =======================*/

@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }

  .jumbotron {
    height: 700px;
    padding-top: 50px;
  }

  .h1-name {
    font-size: 82px;
  }
}

#btnSend::-moz-focus-inner {
  border: 0;
  padding: 0;
}
