
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    height: 600px;
    background-color: white;
    box-shadow: none;
    padding-bottom: 50px;

}

.h1-name {
    padding-bottom: 10px;
}

.h2-skills {
    padding-top: 5px;
}

/*=======================
        nav    
=======================*/

nav {
    background-color: #fff;
    color: white;
    border: none;
    box-shadow: none;
}

.navbar {
    box-shadow: none;
}

/*=======================
        cards     
=======================*/

.card a {
    background-color: #9728FF;
}

.card a:hover {
    background-color: #7920CC;
}

navbar-toggler {
    background-color: red;
}

.card-body {
    background-image:url('..img/brenn.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.card-img-overlay {
    opacity: 0;
    transition: .5s ease;
    margin-top: auto;
    text-align: center;

}

.card:hover .card-img {
    opacity: 0.3;
  }
  
.card:hover .card-img-overlay{
    opacity: 1;
  }


a:hover {
    color: #fff;
}

.hideme {
    opacity: 0;
}

.introduction-text {
     padding-top: 20px;  
}

.skills {
    padding-top: 20px;
}

footer {
    background-color: #fff;
}

/*=======================
    svg icons      
=======================*/

.li-ic i {
    padding-right: 20px;
}
.tw-ic i {
    padding-right: 20px;
}
.fb-ic i {
    padding-right: 20px;
}

/*=======================
    contact anchor + modal     
=======================*/
.contact {
    background-color: #fff;
    border-color: #9728FF;
    border-width: 10px;
    border: 2px solid #9728FF;
}


.contact:hover {
    background-color: #9728FF;
    border-color:  #9728FF;
}

#contactLink, #contactLink2  {
    color: #9728FF;
}

#contactLink:hover, #contactLink2:hover {
    color: #fff;
}

.modal-footer button{
    background-color: #9728FF;

}

.modal-footer button{
    background: #9728FF;
}

.modal-footer button:hover {
    background-color: #7920CC;
}

.md-form:focus {
    border-bottom-color: red;
}

/*=======================
    opacity effect on h1      
=======================*/

.hidden {
    opacity: 0;
    transition: opacity 1s 1s ease-in;

}


.unhide {
    opacity: 1;
}

#messageSent {
    text-align:center;
}

/*=======================
    992 MEDIA QUERY        
=======================*/

@media screen and (min-width:992px){

    .jumbotron {
        height: 550px;
    }

    .introduction-text {
        padding-left: 150px;
        padding-right: 150px;
        text-align: left;
    }

}




/*=======================
    768 MEDIA QUERY        
=======================*/

@media screen and (min-width:768px){

    .jumbotron {
        height: 600px;
    }

    .introduction-text {
        padding-left: 150px;
        padding-right: 150px;
        text-align: left;
    }

}



/*=======================
    BELOW 768 MEDIA QUERY        
=======================*/

@media only screen and (max-width: 768px) {

    body {
        font-size: 13px;
    }

    .jumbotron {
        height: 700px;
        padding-top: 50px;
        
    }

    .h1-name {
        font-size: 82px;
    }
    

  }

  #btnSend::-moz-focus-inner {
    border:0;
    padding:0;
}